__pycache__
dataset
dataset.zip

# Base de données SQLite
*.db
storage/database/

# Index FAISS
*.index
storage/indexes/

storage/images_reduced/

# Cache et fichiers temporaires
storage/preview_cache/
__pycache__/

MagicMock

.venv/
venv/
__pycache__/
*.pyc

htmlcov/
.env