triton-windows; sys_platform == 'win32'
triton; sys_platform == 'linux'
pycocotools
timm
opencv-python==4.10.0.84
matplotlib
pandas
scikit-image
tifffile==2024.8.30
numpy==1.26.4
scikit-learn
psutil
requests
utils
setuptools<82